<%= render @article %>
<div class="article-links">
  <%= link_to "Back to articles", articles_path %>
  <%= link_to "Edit this article", edit_article_path(@article) %>
  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
<%= form_with(model: [@article, @article.comments.build])  do |form| %>
  <div>
    <%= form.label :body, style: "display: block;" %>
    <%= form.text_area :body, cols: 60, rows: 10 %>
  </div>
  <div>
    <h3>Comment(s) </h3>
    <hr/>
    <% @article.comments.each do |comment| %>
      <p><%= comment.body %></p>
      <hr/>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
